* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pliant', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #c6d823;
    background-color: #201212;
}

/* грустный вверх */

header {
    background-color: rgb(14, 12, 141);
    padding: 20px;
    margin-bottom: 10px;
}

header h1{
    font-family: 'Pliant';
    font-size: 40px;
    margin-bottom: 30px;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    color:beige;
    margin-bottom: 10px;
    margin-right: 50px;
}

nav a:hover {
    color:#c6d823;
}

/* просто тело */

main {
    padding: 0 100px;
    max-width: 1000px;
    margin: 100px auto;
}

section {
    margin-bottom: 60px;
    padding: 20px;
    background-color: rgb(68, 34, 34);
    border-radius: 20px;
}

section h2 {
    font-family: 'Pliant', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0 ;
    text-align: center;
    margin-bottom: 0;
}

section p {
    font-family: 'Pliant', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    text-indent: 50px;
}

section.image-sect{
    text-align: center;
}



section img {
    width: 100%;
    max-width: 400px;

    text-align: center;
    height: auto;
    margin: 20px 0;
    border-radius: 150px;
}

section ul{
    font-family: 'Pliant', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-left: 60px;
    list-style-type: square; 
}

section ul li{
    font-family: 'Pliant', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #c6d823;
    font-family: 'Pliant', sans-serif;
    font-size:16px;
    padding: 10px;
}

table th{
    color:#c6d823;
    font-weight: 700;
    text-align: center;
}

table td{
    color:rgb(192, 184, 29);
    text-align: left;
    font-weight: 500;
}

td+td{
    text-align: center;
}

/* господин футер */

#contacts {
    background-color: blue;
    color: yellow;
    padding: 20px;
    margin-top: 20px;
}

.contacts-paragraf{
    font-family: 'Pliant', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.contacts-paragraf a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color:beige;
    margin-bottom: 10px;
    margin-right: 50px;
}

.contacts-paragraf a:hover{
    color:#c6d823;
}

